svg{
  height: 1080px;
  width: 1920px;
}

.tooltip {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

#slider {
 margin-bottom: 10px;   
}

#tooltip {
  color: black;
}

html, svg, h3, h4, #main, .relative {
  font-family: Helvetica;
  background: #191919;
  color: gainsboro;
}

text {
  font-family: Helvetica;
  font-size: 15px;
  color: gainsboro;
}

#year-label {
  font-family: Helvetica;
  font-size: 20px;
  color: gainsboro;
}
