#map{
    background-color: rgb(0, 0, 0);
}

path {
    border: 100px;
    stroke: rgb(255, 255, 255);
}

div.tool-tip {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #5e5e5e;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}
