#map{
    background-color: rgb(210, 235, 255);
}

path {
    stroke: rgb(64, 64, 64);
}

div.tool-tip {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}
